@charset "utf-8";body{font-size:12px;font:12px/1.5em 'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', sans-serif;color:#333;line-height:1.5;}
*:first-child+html body{font-size:75%;}
* html body{font-size:75%;}
.x-small{font-size:83.4% !important;}
.small{font-size:91.7% !important;}
.middle{font-size:100% !important;}
.large{font-size:108.3% !important;}
.x-large{font-size:116.7% !important;}
.xx-large{font-size:125% !important;}
.xxx-large{font-size:133.3% !important;}
.xxxx-large{font-size:141.7% !important;}
.xxxxx-large{font-size:150% !important;}
.justify{text-align:justify;text-justify:inter-ideograph}
.fontRed{color:#CC0000;}
.bold{font-weight:bold;}
.Meiryo{font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;}
.mincho{font-family:"HiraMinPro-W3","MS-PMincho","ヒラギノ明朝 Pro W3","ＭＳ Ｐ明朝","Times New Roman";}
.verdana{font-family:"Verdana","Arai","HiraKakuPro-W3","MS-PGothic","ヒラギノ角ゴ Pro W3","ＭＳ Ｐゴシック";}
.century{font-family:"Century Gothic","Arai","HiraKakuPro-W3","MS-PGothic","ヒラギノ角ゴ Pro W3","ＭＳ Ｐゴシック";}