@charset "utf-8";#cts,
.inn,
#gnv,
.clearfix{display:inline-block;}
* html #cts,
* html .inn,
* html #gnv,
* html .clearfix{height:1%;}
#cts,
.inn,
#gnv,
.clearfix{display:block;}
#cts:after,
.inn:after,
#gnv:after,
.clearfix:after{content:url(/jp/common/img/spacer.gif);display:block;clear:both;height:0;}
.imgover,
.png_bg,
.opa,
.js_idt-list .js_idt-base,
.js_child-even,
.js_child-odd{}
.center{text-align:center !important;}
.right{text-align:right !important;}
.left{text-align:left !important;}
.break{clear:both;}
.aural{display:none;}
.bgno{background:none !important;}
.vtop{vertical-align:top !important;}
.nowrap{white-space:nowrap;}
.float-l{float:left;margin:0;padding:0;}
.float-r{float:right;margin:0;padding:0;}
.mt0{margin-top:0 !important;}
.mt5{margin-top:5px !important;}
.mt10{margin-top:10px !important;}
.mt15{margin-top:15px !important;}
.mt20{margin-top:20px !important;}
.mt25{margin-top:25px !important;}
.mt30{margin-top:30px !important;}
.mt35{margin-top:35px !important;}
.mt40{margin-top:40px !important;}
.mt45{margin-top:45px !important;}
.mt50{margin-top:50px !important;}
.mt55{margin-top:55px !important;}
.mt60{margin-top:60px !important;}
.mt65{margin-top:65px !important;}
.mt70{margin-top:70px !important;}
.mt75{margin-top:75px !important;}
.mb0{margin-bottom:0 !important;}
.mb5{margin-bottom:5px !important;}
.mb10{margin-bottom:10px !important;}
.mb15{margin-bottom:15px !important;}
.mb20{margin-bottom:20px !important;}
.mb25{margin-bottom:25px !important;}
.mb30{margin-bottom:30px !important;}
.mb35{margin-bottom:35px !important;}
.mb40{margin-bottom:40px !important;}
.ml0{margin-left:0 !important;}
.ml5{margin-left:5px !important;}
.ml10{margin-left:10px !important;}
.ml15{margin-left:15px !important;}
.ml20{margin-left:20px !important;}
.ml25{margin-left:25px !important;}
.ml30{margin-left:30px !important;}
.mr0{margin-right:0 !important;}
.mr5{margin-right:5px !important;}
.mr10{margin-right:10px !important;}
.mr15{margin-right:15px !important;}
.mr20{margin-right:20px !important;}
.mr25{margin-right:25px !important;}
.mr30{margin-right:30px !important;}
.pt0{padding-top:0 !important;}
.pt5{padding-top:5px !important;}
.pt10{padding-top:10px !important;}
.pt15{padding-top:15px !important;}
.pt20{padding-top:20px !important;}
.pt25{padding-top:25px !important;}
.pt30{padding-top:30px !important;}
.pb0{padding-bottom:0 !important;}
.pb5{padding-bottom:5px !important;}
.pb10{padding-bottom:10px !important;}
.pb15{padding-bottom:15px !important;}
.pb20{padding-bottom:20px !important;}
.pb25{padding-bottom:25px !important;}
.pb30{padding-bottom:30px !important;}
.pl0{padding-left:0 !important;}
.pl5{padding-left:5px !important;}
.pl10{padding-left:10px !important;}
.pl15{padding-left:15px !important;}
.pl20{padding-left:20px !important;}
.pl25{padding-left:25px !important;}
.pl30{padding-left:30px !important;}
.pr0{padding-right:0 !important;}
.pr5{padding-right:5px !important;}
.pr10{padding-right:10px !important;}
.pr15{padding-right:15px !important;}
.pr20{padding-right:20px !important;}
.pr25{padding-right:25px !important;}
.pr30{padding-right:30px !important;}
.mincho{font-family:"游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN","HG明朝E","ＭＳ Ｐ明朝","ＭＳ 明朝",serif;}
.cate-ttl{background-image:url(/jp/common/img/main_p01.jpg);background-position:center top;background-repeat:no-repeat;}
.kuma-ttl{background-image:url(/jp/common/img/kuma_p01.jpg);background-position:center top;background-repeat:no-repeat;}
.kuma-ttl .inn{height:115px;}
.kuma-ttl .inn h1{padding:27px 0 0 0;}
.cate-ttl .inn{height:115px;}
.cate-ttl .inn h1{padding:27px 0 0 0;}
.heading01{padding:5px 0 10px 2px;border-bottom:1px solid #D9D9D9;font-size:183.3%;}
.heading01 span{margin-right:22px;font-size:68.2%;}
.heading02{background-color:#FFF;padding:10px 15px;border-top:1px solid #D9D9D9;border-bottom:1px solid #D9D9D9;font-size:158.4%;}
.heading02 span{display:block;font-size:68.4%;}
.heading03{padding:10px 0;color:#1F84BD;font-size:125%;}
.heading04{padding:8px 0;font-size:150%;font-weight:bold;}
.heading05{background:url(/jp/common/img/dot_w01.gif) repeat-x left bottom;padding:8px 0;font-size:141.7%;}
.heading06{background-color:#FFF;padding:10px 15px;border-bottom:1px solid #D9D9D9;font-size:158.4%;}
.heading07{font-size:190%;font-family:"Roboto Slab" , Garamond , "Times New Roman" , "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;}
.ttl-icn01,.ttl-icn02,
.ttl-txt01{position:relative;}
.ttl-icn01 .icn,
.ttl-icn02 .icn{position:absolute;top:15px;right:15px;}
.ttl-icn02 .icn{position:absolute;top:10px;right:0;}
.ttl-icn01 .icn .pm-btn,
.ttl-icn02 .icn .pm-btn{display:inline-block;*display:inline;cursor:pointer;width:20px;height:20px;}
.ttl-icn01 .icn .pm-btn.show,
.ttl-icn02 .icn .pm-btn.show{background:url(/jp/common/img/icn_minus05.png) no-repeat;}
.ttl-icn01 .icn .pm-btn.show img,
.ttl-icn02 .icn .pm-btn.show img{display:none;}
.ttl-txt01 .tx{position:absolute;top:15px;right:0;font-size:91.7%;}
.icn-pdf{background:url(/jp/common/img/icn_pdf.gif) no-repeat 0 0.2em;padding-left:30px;display:block;}
.arr01{background:url(/jp/common/img/arr05.gif) no-repeat 0 0.2em;padding-left:18px;display:block;}
.bdr01{border:1px solid #D9D9D9;}
.paging{margin:28px -10px 0;text-align:center;}
.paging li{margin:0 1px;display:inline-block;*display:inline;width:31px;zoom:1;}
.paging li.long{width:121px;}
.paging li a{background-image:url(/jp/common/img/paging_bg01.gif);background-position:center top;background-repeat:no-repeat;padding:6px 0;display:block;text-decoration:none;color:#FFF !important;}
.paging li.long a{background-image:url(/jp/common/img/paging_bg02.gif);}
.search #main .rcb-srh{background-color:#F2F2F2;border-radius:6px;-webkit-border-radius:6px;-moz-border-radius:6px;behavior:url(/jp/common/js/PIE.htc);position:relative;zoom:1;}
.search #main a{color:#D83313;}
.search #main .rcb-srh .upper{padding:13px;overflow:hidden;}
.search #main .rcb-srh .upper .ttl,
.search #main .rcb-srh .upper .ipt{float:left;}
.search #main .rcb-srh .upper .ttl{margin-right:15px;padding-top:4px;color:#1F84BD;font-size:125%;}
.search #main .rcb-srh .upper .ipt{background:url(/jp/common/img/ipt_bg06.gif) no-repeat;}
.search #main .rcb-srh .upper .ipt input{background:none;padding:4px 5px 0;*padding:7px 5px 0;border:none;width:240px;height:23px;*height:30px;zoom:1;}
.search #main .rcb-srh .upper .ipt .placeholder{padding-bottom:2px !important;top:11px !important;font-size:10px !important;}
.search #main .rcb-srh .upper ul{padding-top:5px;float:right;}
.search #main .rcb-srh .upper ul li{margin-left:15px;display:inline-block;*display:inline;font-size:91.7%;zoom:1;}
.search #main .rcb-srh .upper .result-txt{margin-top:15px;}
.search #main .rcb-srh .upper .result-txt dt{margin-bottom:5px;font-weight:bold;}
.search #main .rcb-srh .upper .result-txt dd p span{font-weight:bold;}
.search #main .rcb-srh .lower{background:url(/jp/common/img/line02.gif) repeat-x;padding:13px;font-size:108.3%;}
.search #main .rcb-srh .lower .result span{margin-right:5px;font-weight:bold;}
.search #main .rcb-srh .lower .page{float:left;width:60%;}
.search #main .rcb-srh .lower .page span{font-size:115.4%;}
.search #main .rcb-srh .lower .num{float:right;text-align:right;width:40%;}
.search #main .rcb-srh .lower .lead{padding:30px 0;text-align:center;font-size:158.4%;}
.search #main .rcb-srh span.customSelect{padding:5px 0 0 5px;color:#666;height:22px;}
.search #main .rcb-srh span.customSelect .customSelectInner{font-size:11px;}
.search #main .rcb-srh span.customSelect{background:url(/jp/common/img/select_bg03.gif) no-repeat;width:484px;}
.search #main .sch-wrap{background:url(/jp/common/img/shadow01.gif) no-repeat center bottom;margin-top:15px;padding-bottom:50px;overflow:hidden;}
.search #main .sch-wrap .commb{background:url(/jp/common/img/dot_w02.gif) repeat-x;margin-top:-1px;padding:35px 0 22px 0;}
.search #main .sch-wrap .commb .img{margin-right:30px;float:left;}
.search #main .sch-wrap .commb .txtb{overflow:hidden;}
.search #main .sch-wrap .commb .txtb .name{background:url(/jp/common/img/line02.gif) repeat-x left bottom;padding-bottom:15px;font-size:141.7%;}
.search #main .sch-wrap .commb .txtb .tx{margin-top:10px;font-size:108.3%;}
.search #main .sch-wrap .commb .txtb .dload{margin-top:12px;overflow:hidden;}
.search #main .sch-wrap .commb .txtb .dload li{margin-top:8px;float:left;width:202px;height:20px;}
.search #main .sch-wrap .commb .txtb .dtl-link{margin:18px 30px 0 0;text-align:right;}
.search #main .sch-wrap .commb .txtb .dtl-link a{background:url(/jp/common/img/arr05.gif) no-repeat right center;padding-right:21px;}
div.tooltip{width:250px;position:absolute;left:-9999px;margin-top:-210px;background:#FFF;padding:5px;border:1px solid #AAA;z-index:9999;}
div.tooltip p{text-align:left;}
#scol .rcb{background-color:#F2F2F2;margin-bottom:12px;padding-bottom:15px;border-radius:6px;-webkit-border-radius:6px;-moz-border-radius:6px;behavior:url(/jp/common/js/PIE.htc);position:relative;zoom:1;}
#scol .rcb .ttl{padding:15px 0 15px 20px;}
#scol .rcb .inr{background:url(/jp/common/img/line02.gif) repeat-x;padding:21px 0 0 20px;}
#scol .rcb .contact{background:url(/jp/common/img/line02.gif) repeat-x;padding:15px 0 0 10px;}
#scol .product-sch .inr{padding:0 11px;}
#scol .product-sch .inr .tx{margin-bottom:5px;padding-top:17px;color:#2184BD;font-size:116.7%;}
#scol .product-sch .inr .schb{overflow:hidden;}
#scol .product-sch .inr .schb p{float:left;margin-right:5px;}
*:first-child+html #scol .product-sch .inr .schb p{margin-right:1px;}
#scol .product-sch .inr .schb .ipt{background:url(/jp/common/img/ipt_bg01.gif) no-repeat;}
#scol .product-sch .inr .schb .ipt input{background:none;padding:4px 5px;*padding:7px 5px 0;border:none;width:212px;height:23px;*height:30px;zoom:1;}
#scol .product-sch .inr .schb .ipt .placeholder{padding-bottom:2px !important;top:11px !important;font-size:9px !important;}
#scol .product-sch .inr .schb .btn{margin-top:-2px;_margin-top:0;margin-right:0;}
#scol .other-sch .inr{padding:15px 16px 0;}
#scol .other-sch .inr .bnr{margin-right:-6px;}
#scol .other-sch .reco{background:url(/jp/common/img/line02.gif) repeat-x;margin-top:19px;}
#scol .other-sch .reco .inr{background-image:none;padding:0px 21px;}
#scol .other-sch .reco .inr.hover{text-decoration:underline;}
#scol .other-sch .reco .inr .ph{margin-bottom:15px;text-align:center;}
#scol .other-sch .reco .inr a{color:#333;text-decoration:none;}
#scol .other-sch .reco .inr .catelink a{background:url(/jp/common/img/arr02.gif) no-repeat 0 0.4em;padding-left:13px;font-size:91.7%;}
#scol .other-sch .reco .inr dl{background:url(/jp/common/img/dot_w01.gif) repeat-x;margin:15px 8px 0;padding-top:10px;}
#scol .other-sch .reco .inr dl dt{font-size:125%;}
#scol .other-sch .reco .inr dl dd{margin-top:5px;font-size:108.3%;}
#scol .dload .inr{padding:12px 20px 0;}
#scol .dload .inr .bnr{margin:0px 0px 0px -10px;}
#scol .product-sch .coupling .coupling-tab{background:url(/jp/common/img/line02.gif) repeat-x left bottom;margin:0 -11px;padding:0 0 2px 8px;overflow:hidden;}
#scol .product-sch .coupling .coupling-tab li{background-position:0 0;background-repeat:no-repeat;margin-right:4px;float:left;text-indent:-9999em;height:34px;}
#scol .product-sch .coupling .coupling-tab li.tab1{background-image:url(/jp/common/img/scol_coupling_tab01.gif);width:76px;}
#scol .product-sch .coupling .coupling-tab li.tab2{background-image:url(/jp/common/img/scol_coupling_tab02.gif);width:105px;}
#scol .product-sch .coupling .coupling-tab li.tab3{background-image:url(/jp/common/img/scol_coupling_tab03.gif);width:75px;}
#scol .product-sch .coupling .coupling-tab li:hover,
#scol .product-sch .coupling .coupling-tab li.js_stay{background-position:0 -34px;}
#scol .product-sch .coupling .tabwrap{padding:0 4px 22px 9px;}
#scol .product-sch .coupling .tabwrap dl dd input{background:none;margin:5px 0 0 5px;border:none;}
#scol .product-sch .coupling .tabwrap .ipt01{background:url(/jp/common/img/ipt_bg03.gif) no-repeat;}
#scol .product-sch .coupling .tabwrap .ipt02{background:url(/jp/common/img/ipt_bg04.gif) no-repeat;}
#scol .product-sch .coupling .tabwrap .ipt03{background:url(/jp/common/img/ipt_bg05.gif) no-repeat;}
#scol .product-sch .coupling .tabwrap .ipt01,
#scol .product-sch .coupling .tabwrap .ipt02,
#scol .product-sch .coupling .tabwrap .ipt03{height:27px;zoom:1;}
#scol .product-sch .coupling .tabwrap .ipt01{width:115px;}
#scol .product-sch .coupling .tabwrap .ipt02{width:65px;}
#scol .product-sch .coupling .tabwrap .ipt03{width:160px;}
#scol .product-sch .coupling .tabwrap .txt1 input{width:85px;}
#scol .product-sch .coupling .tabwrap .txt2 input{width:30px;}
#scol .product-sch .coupling .tabwrap .txt3 input{width:70px;}
#scol .product-sch .coupling .tabwrap .btn-sch{margin-top:17px;text-align:center;}
#scol .product-sch .coupling .tabwrap dl{margin-top:9px;overflow:hidden;}
#scol .product-sch .coupling .tabwrap dl dt,
#scol .product-sch .coupling .tabwrap dl dd{float:left;}
#scol .product-sch .coupling .tabwrap dl dt{padding-top:4px;font-size:108.3%;width:84px;}
#scol .product-sch .coupling .tabwrap dl dt img{vertical-align:middle;}
#scol .product-sch .coupling .tabwrap dl dd p{display:inline-block;*display:inline;vertical-align:middle;position:relative;}
#scol .product-sch .coupling .tabwrap dl dd p .unit{position:absolute;top:6px;right:5px;*right:8px;color:#666;font-size:9px;}
#scol .product-sch .coupling .tabwrap dl.balloon{overflow:visible;position:relative;}
#scol .product-sch .coupling .tabwrap dl.balloon{display:inline-block;}
#scol .product-sch .coupling .tabwrap dl.balloon .balloon-tx{background:#FFF;padding:5px;display:none;border:1px solid #CCC;position:absolute;top:-90px;left:-40%;*left:-25%;font-size:83.4%;width:auto;z-index:100000;}
#scol .product-sch .coupling .tabwrap dl.balloon span:hover .balloon-tx{display:block;}
#scol .product-sch .coupling .tabwrap dl.balloon span:hover img{cursor:pointer;}
#scol .product-sch .coupling span.customSelect{padding:7px 0 0 3px;color:#666;height:20px;}
#scol .product-sch .coupling span.customSelect .customSelectInner{font-size:14px !important;line-height:14px;width:100% !important;}
#scol .product-sch .coupling .property{margin-top:20px;}
#scol .product-sch .coupling .property p{font-size:108.3%;}
#scol .product-sch .coupling .property p span{font-size:84.6%;}
#scol .product-sch .coupling .property .btnwrap{overflow:hidden;}
#scol .product-sch .coupling .property .btnwrap p{margin:2px 4px 0 0;float:left;}
#scol .product-sch .coupling .property input[type='checkbox']{filter:alpha(opacity=70);-moz-opacity:0.7;opacity:0.7;position:absolute;left:-9999em;}
#scol .product-sch .coupling .property .cbxbd{background-position:left top;background-repeat:no-repeat;display:block;cursor:pointer;text-indent:-9999em;overflow:hidden;width:120px;height:28px;}
#scol .product-sch .coupling .property .btn1 .cbxbd{background-image:url(/jp/common/img/btn_property01.gif);}
#scol .product-sch .coupling .property .btn2 .cbxbd{background-image:url(/jp/common/img/btn_property02.gif);}
#scol .product-sch .coupling .property .btn3 .cbxbd{background-image:url(/jp/common/img/btn_property03.gif);}
#scol .product-sch .coupling .property .btn4 .cbxbd{background-image:url(/jp/common/img/btn_property04.gif);}
#scol .product-sch .coupling .property .check{background-position:left bottom;}
#scol .product-sch .coupling .specification dl dt.wl{width:111px;}
#scol .product-sch .coupling .specification span.customSelect{background:url(/jp/common/img/select_bg01.gif) no-repeat;width:155px;}
#scol .product-sch .coupling .actuator dl dt{width:64px;}
#scol .product-sch .coupling .actuator span.customSelect{background:url(/jp/common/img/select_bg02.gif) no-repeat;width:175px;}
#scol .product-sch .coupling .motor .ipt03 input{width:115px;}
#scol .product-sch .coupling .motor span.customSelect{background:url(/jp/common/img/select_bg01.gif) no-repeat;width:153px;}
#scol .movie_area{margin-top:-200px;}
#scol .rcb.acdion{padding-bottom:0;}
.acdion .acdion-btn{position:relative;cursor:pointer;}
.acdion .acdion-btn span{display:block;width:280px;height:46px;}
.acdion .acdion-btn span span{background:url(/jp/common/img/icn_symbol.png) no-repeat 0 0;position:absolute;top:14px;left:22px;width:18px;height:18px;z-index:999;}
/**/.acdion .acdion-btn span.open{background:url(/jp/common/img/btn_product_lup.gif) no-repeat;}
.services .acdion .acdion-btn span.open{background:url(/jp/common/img/btn_service.gif) no-repeat;}
.support .acdion .acdion-btn span.open{background:url(/jp/common/img/btn_support.gif) no-repeat;}
.exhibition .acdion .acdion-btn span.open{background:url(/jp/common/img/btn_support.gif) no-repeat;}
.privacy .acdion .acdion-btn span.open{background:url(/jp/common/img/btn_support.gif) no-repeat;}
.sitemap .acdion .acdion-btn span.open{background:url(/jp/common/img/btn_support.gif) no-repeat;}
.topics .acdion .acdion-btn span.open{background:url(/jp/common/img/btn_support.gif) no-repeat;}
.company .acdion .acdion-btn span.open{background:url(/jp/common/img/btn_company.gif) no-repeat;}
.acdion .acdion-btn span.open span{background:url(/jp/common/img/icn_symbol.png) no-repeat 0 -18px !important;}
.acdion .acdion-btn span.open img{display:none;}
.acdion .acd-wrap{display:none;}
#lineup-space{height:200px;}
#lineup-list{padding-top:5px;}
#lineup-list ul{padding-bottom:0;}
#lineup-list .child-list,
#lineup-list .gchild-list{display:none;background-color:#eaeaea;}
#lineup-list .child-list ul,
#lineup-list .gchild-list ul{padding-bottom:0;}
#lineup-list a,
#lineup-list span{display:block;color:#D93416;text-decoration:none;background-repeat:no-repeat;}
#lineup-list a:hover{display:block;//text-decoration:underline;text-decoration:none;}
#lineup-list span{color:#333;cursor:pointer;}
#lineup-list .parent-list{min-height:42px;background:url(/jp/common/img/menu_off.jpg) no-repeat;background-size:100% auto;cursor:pointer;padding-top:2px;}
#lineup-list .parent-list:hover{background:url(/jp/common/img/menu_on.jpg) no-repeat;background-size:100% auto;}
#lineup-list .parent-list a,
#lineup-list .parent-list span{padding:12px 10px 8px 30px;background:url(/jp/common/img/arr02.gif) no-repeat 15px 1em;background-position:15px 15px;}
#lineup-list .parent-list span{color:#D93416;}
//#lineup-list .parent-list span:hover{//text-decoration:underline;//}
#lineup-list .child-list ul{padding-top:10px!important;}
#lineup-list .child-list a,
#lineup-list .child-list span{margin-left:30px;padding:14px 10px 10px 8px;background:url(/jp/common/img/icn_minus02.gif) no-repeat 0 1.5em;background-position:0 22px;}
#lineup-list .child-list span{//background:url(/jp/common/img/icn_minus06.png) no-repeat 0 1.5em;//color:#555;}
#lineup-list .child-list a.first,
#lineup-list .child-list span.first{padding-top:5px;background:url(/jp/common/img/icn_minus02.gif) no-repeat 0 1.2em;}
#lineup-list .child-list li{border-bottom:1px dashed #CCCCCC;}
#lineup-list .gchild-list{padding-bottom:10px;}
#lineup-list .gchild-list li{border:none;}
#lineup-list .gchild-list a{margin-left:50px;padding:3px 10px 3px 8px;background:url(/jp/common/img/icn_minus03.gif) no-repeat 0 1em;}
#lineup-list .has-stay{//background-color:#E7E7E7 !important;background:url(/jp/common/img/menu_on.jpg) no-repeat;background-size:100% auto;}
#lineup-list .stay{font-weight:bold;}
#modal-overlay{width:100%;height:100%;position:absolute;left:0;top:0;z-index:99;background-color:#333333;}
#modal{Xheight:595;width:800px;background-color:#F2F2F2;position:absolute;top:0;left:50%;margin-left:-400px;z-index:999;text-align:left;display:none;}
#modal .modal-inr{background-color:#FFF;padding-left:25px;padding-right:20px;padding-top:20px;height:540px;border-bottom:1px solid #F2F2F2;}
#modal .modal-close{cursor:pointer;}
#modal .modal-dtl{width:755px;margin-top:-10px;}
#modal .img{float:left;width:152px;}
#modal .r-col{float:right;width:568px;}
#modal .r-col .name-wrap{padding-top:15px;padding-bottom:12px;border-bottom:1px solid #E1E1E1;}
#modal .r-col .name-wrap .cap-name{font-size:108.3%;}
#modal .r-col .name-wrap .name{font-size:150%;}
#modal .dl-links{margin-top:7px;}
#modal .dl-links li{float:left;margin-top:8px;margin-right:40px;}
#modal .dl-col .dl-txt{font-size:150%;margin-top:30px;margin-bottom:5px;color:#4A97E3;}
#modal .fold-sct{margin-top:10px;padding-top:10px;border-top:1px solid #E1E1E1;}
#modal .fold-sct .pane{height:110px;outline:0px none black;}
#modal .fold-sct .pane dl{border-bottom:1px dashed #E1E1E1;padding-top:10px;padding-bottom:15px;margin-bottom:5px;}
#modal .fold-sct .pane dl dt{font-size:150%;cursor:pointer;padding-left:40px;background-position:13px center;background-repeat:no-repeat;background-image:url(/jp/common/img/icn_plus.gif);}
#modal .fold-sct .pane dl dt.show{background-image:url(/jp/common/img/icn_minus.gif);}
#modal .fold-sct .pane dl dt span{font-size:72%;margin-left:15px;}
#modal .fold-sct .pane dl dd{display:none;width:100%;}
#modal .fold-sct .pane dl dd ul{padding:5px 160px 10px 40px;}
#modal .fold-sct .pane dl dd li{float:left;margin-top:10px;width:90px;font-size:108.3%;}
#modal .fold-sct .pane dl dd li input{margin-right:10px;}
#modal .modal-ft{border-top:1px solid #fff;padding:17px 20px 0px 25px;background-color:#f2f2f2;margin-bottom:15px;}
#modal .modal-ft .line{background:url(/jp/downloads/img/txt_line.gif) repeat-x left center;}
#modal .modal-ft .line span{background-color:#F2F2F2;display:inline-block;zoom:1;padding-right:10px;font-size:15px;}
#modal .modal-ft .check-list{float:left;width:500px;height:80px;margin-top:5px;}
#modal .modal-ft .check-list li{color:#D24627;margin-top:2px;font-size:116.7%;float:left;width:250px;}
#modal .modal-ft .modal-ft-btn{float:right;width:195px;}
#modal .modal-ft .modal-ft-btn .btn-dl{margin-top:13px;margin-bottom:37px;}
#modal .jspDrag{background:#999999;}
#modal .jspDragTop{background:url(/jp/downloads/img/scr_top.gif) no-repeat center top;}
#modal .jspDragBottom{background:url(/jp/downloads/img/scr_btm.gif) no-repeat center bottom;}
.modal-cts{display:none;}